doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link( rel="stylesheet" href="/css/style.css")
        //- link( type="image/png" rel="shortcut icon" href="/images/favicon.png")
        title Interbooks | #{title}
        //- script(src="https://js.stripe.com/v3/")
        script(type="module" defer src="/scripts/main.js")
    body
        section.signup
            form.reset.form(data-reset=`${resetToken}`)
                h2(style='margin-bottom: 3rem') Reset password
                //- .form__entity
                //-     label.form__label(for='currentPassword')  Current password
                //-     input#currentPassword.form__input(required='' type='password')
                .form__entity
                    label.form__label(for='newPassword')  New password
                    input#newPassword.form__input(required='' type='password')
                .form__entity
                    label.form__label(for='confirmNewPassword')
                        | Confirm new password
                    input#confirmNewPassword.form__input(required='' type='password')
                button(type='submit') Submit